<% layout('layouts/boilerplate') %>
<div id="cluster-map"></div>

  <h1>All Campgrounds</h1>
  <a class="btn btn-success mb-3" href="/campgrounds/new">New Campground</a>

  <% for(campground of campgrounds){ %>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <% if(campground.images.length) {%> 
          <img class="img-fluid" src="<%=campground.images[0].url%>" alt="Campground Image" />
          <% } else {%>
            <img class="img-fluid" src="https://images.unsplash.com/photo-1515444744559-7be63e1600de?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGNhbXBncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Campground without image" />
            <% } %>  
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <%=campground.title%>
            </h5>
            <p class="card-text">
              <%=campground.description%>
            </p>
            <p class="card-text">
              <small class="text-muted">
                <%=campground.location%>
              </small>
            </p>
            <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View Campground</a>
          </div>
        </div>
      </div>
    </div>

    <% } %>
    <script>
      const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
      const campgrounds = {features: <%- JSON.stringify(campgrounds)%>}
    </script>

    <script src="/js/clusterMap.js"></script>